.Label_Work1{
    text-align: left; 
    display:block;
    color: white;
    -webkit-text-stroke: 2px black;
    font-size: 45px;
 }

.Label_Work2{
    text-align: left; 
    display:block;
    color: white;
    font-size: 20px;
 }
 .Label_Work3{
    text-align: left; 
    display:block;
    color: white;
    font-size: 20px;
 }